body {
    background-color: black;
    overflow: hidden;
}

#player1, #player2 {
    width: 100px;
    height: 10px;
    background-color: white;
    position: absolute;
}

#player1 {
    top: 0;
}

#player2 {
    bottom: 0;
}

#ball {
    width: 20px;
    height: 20px;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
}
